@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
    /* colors are changeable always more combinations are in "https://coolors.co/" */
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --AlGreen: hsl(183, 81%, 23%);
    --white: hsl(0, 0%, 100%);
    --Light-Gray: hsl(0, 0%, 75%);
    --clr-Transparent-Soft-violet: hsla(0, 0%, 0%, 0.5);

    /* animation and some effects */
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

    /* font-fam*/
    --body-font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

body {
    font-family: var(--body-font-family);
    text-decoration: var(--text-dec);
    background-color: var(--AlGreen);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    color: white;
    background-color: var(--Very-Dark-Blue);
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.reset {
    position: absolute;
    top: 2rem;
    right: 20px;
}

.left-btn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: var(--AlGreen);
    background-color: white;
    border: none;
    cursor: pointer;
}

.right-btn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: var(--AlGreen);
    background-color: white;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
}

.quiz-card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 40rem;
    background-color: var(--Very-Dark-Blue);
    color: white;
    border-radius: 15px;
}

.quiz-card .question-container {
    margin-bottom: 2rem;
}

.option-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}

.option {
    padding: 1rem;
    border-radius: 15px;
    width: 250px;
    background-color: var(--white);
    color: black;
}

.carosel-container {
    display: flex;
    gap: 1rem;
}

.option.selected {
    background-color: orange;
}